	<!-- <nav class="navbar navbar-ligth bg-dark">
		<div>
		<a class="navbar-brand text-white ms-3" href="/application">
			HOME
		</a>
		<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div> 
		<a class="navbar-brand text-white" href="/application/logout">
			SAIR
		</a>
		</div>
	</nav> -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/application">HOME</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							CADASTROS
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="#">SOLICITANTES</a></li>
							<li><a class="dropdown-item" href="#">MÓDULOS</a></li>
							<% if (userType == 'ADM') { %>
								<li><a class="dropdown-item" href="application/users">USUÁRIOS</a></li>
							<%}%>
							
						</ul>
					</li>
					<li>
						<a class="nav-link" href="#">MUDANÇAS</a>
					</li>
				</ul>
			</div>
			<a class="navbar-brand" href="/application/logout">SAIR</a>
		</div>
	</nav>