<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<body>
  
  <%-include('partials/libs.ejs') %> <!--arquivo de import de libs genéricas-->
</body>

<%- include('partials/footer.ejs') %>